body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}
SERVICIOS
a:link:hover, a:visited:hover  {
  color: white;
  font-weight : bold;
  text-decoration : none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo_hd {
    width: 369px; 
    height: 94px;
    margin: 10px 70px;
}

#botonera {
    position:absolute; 
    top: 35px; 
    left: 450px
}

#redes {
    position:absolute; 
    top: 150px; 
    left: 540px
}

#contacto {
    position: absolute;
    left: 580px;
    text-align: center;
    /*border: black solid 2px;*/
}

.boton{
    display: inline-block;
    width: 120px;
    height: 50px;
    background-color: #323d92;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 15px;
}

.brs {
    display: inline-block;
    width: 50px;
    height: 30px;
}

.boton:hover {
    background-color: gray;
}