<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div style="float:left">
            <h:graphicImage library="images" name="header.png" width="1325px"/>
        </div>
        
        <div style="position: absolute">
            <h:graphicImage library="images" name="logo.png" id="logo_hd"/>
        </div>
        
        <div id="botonera">
            <nav>
                <ul>
                    <li class="boton">
                        <a href=""><b>INICIO</b></a>
                    </li>
                    <li class="boton">
                        <a href=""><b>¿QUE ES TELECABLE?</b></a>
                    </li>
                    <li class="boton">
                        <a href=""><b>INTERNET</b></a>
                    </li>
                    <li class="boton">
                        <a href=""><b>TELEVISION</b></a>
                    </li>
                    <li class="boton">
                        <a href=""><b>INICIAR SESIÓN</b></a>
                    </li>
                    <li class="boton">
                        <a href=""><b>REGISTRATE</b></a>
                    </li>
                </ul>
            </nav>
        </div>
        
        
    </h:body>
</html>

