<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>TeleCable holgfdg</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                      <div>
                    <div class="floating-menu">
                        <a href="#" class="anchor"></a>
                    </div>

                    <div>
                        <header>
                            <div align="center" >
                                <hr>
                                    <h1 class="Titulo1">TeleCable de Calimaya </h1>

                                </hr>
                                <div style="background: white">
                                   <span><img  href="/index.xhtml" src="resources/images/familiatv.jpg" /></span>  
                                </div>
                                
                                <hr>
                                    <table>
                                        <tr>
                                            <th><p class="p2">
                                                    Televisión por Cable

                                                    Telecable de Calimaya te ofrece los mejores paquetes.

                                                    Contáctanos.

                                                    !Estamos para servirte!
                                                </p></th>
                                            <th><img class="ii" src="resources/images/tele.jpg" /></th>
                                        </tr>
                                    </table>
                                </hr>
                                <div style="background: white">
                                <hr>
                                    <div align="center" background="write">
                                        <table>
                                            <tr>
                                                <th><span><img class="img1" src="resources/images/tv.png" /></span> </th>
                                                <th><img class="img1" src="resources/images/flecha.png" /></th>
                                                <th><span><img class="img1" src="resources/images/inter.jpg" /></span> </th>
                                            </tr>
                                        </table>
                                    </div>
                                </hr>
                                    </div>

                                <hr>
                                    <table>
                                        <tr>
                                            <th><p class="p2">

                                                    Servicio de Internet

                                                    Confiable. Segura. Rápida. 
                                                    
                                                    Internet de alta velocidad

                                                </p></th>
                                            <th><img class="ii" src="resources/images/tele2.jpg" /></th>
                                        </tr>
                                    </table>
                                </hr>
                            </div>

                        </header>
                    </div>
                </div>
            </ui:define>
            
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

