<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <div>
                    <div class="floating-menu">
                        <a href="#" class="anchor"></a>
                    </div>

                    <div>
                        <header>
                            <div align="center" >
                                <hr>
                                    <h1 class="Titulo1">¿Qué es TeleCable?</h1>
                                    <p class="Titulo2">La plataforma de conectividad y entretenimiento total</p>
                                    <p class="Titulo3">Vive la experiencia al máximo.</p>
                                </hr>

                                <span><img src="resources/images/familiatv.jpg" /></span> 

                                <hr>
                                    <p class="vision">“Telecable de Calimaya, S.A. de C.V.”

                                        una empresa dedicada a proveer servicios de Televisión 

                                        por suscripción e Internet</p>
                                </hr>
                                <hr>
                                    <div align="center" background="write">
                                        <table>
                                            <tr>
                                                <th><span><img class="img1" src="resources/images/tv.png" /></span> </th>
                                                <th><img class="img1" src="resources/images/flecha.png" /></th>
                                                <th><span><img class="img1" src="resources/images/inter.jpg" /></span> </th>
                                            </tr>
                                        </table>
                                    </div>
                                </hr>
                            </div>

                        </header>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

