<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                 <div>

                <h1 id="h1f">Formulario de Suscripcion</h1>
                <h3 id="h3f">Internet - Television</h3>
                <p id="Re">REGISTRESE</p>
                <hr>
                    <p>Para obtener nuestro servicio, por favor llene este sencillo formulario. Uno de nuestros representantes se comunicara con usted lo más pronto posible.
                        Los campos con * son requeridos.</p>
                </hr>
                <table>
                    <tr>
                        <th>
                            <div align="left">
                                <h:column>
                                    <h:form style="background: #cdced1 ; margin-left: 75px"  >
                                        <h:panelGrid columns="1" cellpadding="9" cellspacing="1" border="0">
                                            <h:outputLabel>
                                                <hr>
                                                    <div align="center"> <p class="tf">Introduzca sus Datos: </p></div> 
                                                </hr>
                                            </h:outputLabel>

                                            <h:outputLabel class="tiCam" value="Nombre y Apellido *       ">                               
                                                <h:inputText class="txt" id="nom" label="nom" required="true"></h:inputText>

                                            </h:outputLabel>    

                                            <h:outputLabel class="tiCam" value=" Telefono *">                               
                                                <h:inputText class="fono" id="tel" label="tel" required="true"></h:inputText>                            

                                            </h:outputLabel>

                                            <h:outputLabel class="tiCam" value="Celular    ">                               
                                                <h:inputText class="cel1" id="cel" label="cel" required="false"></h:inputText>
                                            </h:outputLabel>

                                            <h:outputLabel class="tiCam" value="Direccion *">                               
                                                <h:inputText class="dir1" id="dir" label="dir" required="true"></h:inputText>

                                            </h:outputLabel>

                                            <h:outputLabel  class="tiCam" value="Escoja un Servicio *    "> 
                                                <h:selectOneMenu class="men1" >
                                                    <f:selectItem itemLabel="TELEVISION"/>
                                                    <f:selectItem itemLabel="Paquete Basico"/>
                                                    <f:selectItem itemLabel="Paquete SuperBasico" />
                                                    <f:selectItem itemLabel="INTERNET" />  
                                                    <f:selectItem itemLabel="Internet 2MB" />  
                                                    <f:selectItem itemLabel="Internet 3MB" />
                                                    <f:selectItem itemLabel="Internet 5MB" />
                                                    <f:selectItem itemLabel="Internet 10MB" />
                                                </h:selectOneMenu>                              
                                            </h:outputLabel>

                                            <h:outputLabel class="tiCam" value="Observaciones ">                               
                                                <h:inputTextarea class="ob1" id="ob" style="height:172.5px"></h:inputTextarea>
                                            </h:outputLabel>

                                            <h:outputLabel style="margin-left: 200px">
                                                <h:selectOneRadio style="margin-left: 200px ; font-size: 20px">
                                                    <f:selectItem  class="tiCam" itemLabel="Acepto" />  
                                                    <h:outputText value="* Estoy de acuerdo con 
                                                                  sus terminos y condiciones" style="font-size: 10px"/>
                                                </h:selectOneRadio>
                                            </h:outputLabel>

                                            <h:outputLabel >                                
                                                <div align="center">
                                                    <hr>
                                                        <h:commandButton value="Enviar"/>
                                                    </hr>
                                                </div>                                 
                                            </h:outputLabel>

                                        </h:panelGrid>
                                    </h:form>
                                </h:column>
                            </div>
                        </th>

                        <th>
                            <img class="ii2" src="resources/images/imgS.jpg" />
                        </th>
                    </tr>
                </table>

            </div>
            </ui:define>
            
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

